<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>SS Beauty : About</title>
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="" th:href="@{/css/Navigation.css}" />
	<link rel="stylesheet" href="" th:href="@{/css/About.css}" />
</head>
<body>
	<nav th:replace="~{Navigation::navbar()}">	
	</nav>
	
	<div class="information">
		
		<h1>CART_HIVE</h1>
		
		
	</div>
	<div class="icons">
		<h3><i class="fa-solid fa-phone" style="color: black;"></i> : 9059339364</h3>
		<h3> <i class="fa-solid fa-envelope" style="color: black;"></i>  : chaitanyasrivignesh@gmail.com</h3>
		
	</div>
</body>
</html>
